.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    text-align: center;
}
.information-wrapper {
    display: flex;
    justify-content: center;
}
.information-wrapper button {
    padding: 10px;
}
.information-wrapper input {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}
.listaDeUsuarios {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}
.edit {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.delete {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}